<template>
<popup-base  @clickOnBackground="clickOnBackground">
  <div class="country-list-picker flex justify-center">
    <div class="items-block w-2/4 pl-3 pr-3 rounded">
      <div class="country-item flex h-16 items-center cursor-pointer border-b" v-for="(item, index) in countryList" :key="item + index" @click="emitCountry(index)">
        <div class="flex-one">
          <svg-icon :name="item.icon" class="w-16 h-16" original/>
        </div>
        <div class="flex-one w-full ml-4 font-bold">
          <h3 class="text-xl">{{ $t(item.title) }}</h3>
        </div>
        <div class="flex-one font-medium text-2xl">
          >
        </div>
      </div>
    </div>
  </div>
</popup-base>
</template>

<script>
import PopupBase from '@/components/helper/popup-base'
export default {
  name: 'country-list',
  components: { PopupBase },
  data () {
    return {
      countryList: [
        {
          title: 'benin',
          code: '229',
          icon: 'ic_benin'
        },
        {
          title: 'togo',
          code: '228',
          icon: 'ic_togo'
        },
        {
          title: 'burkina',
          code: '226',
          icon: 'ic_burkini'
        },
        {
          title: 'ivory_cost',
          code: '225',
          icon: 'ic_ivory_cost'
        },
        {
          title: 'niger',
          code: '227',
          icon: 'ic_niger'
        },
        {
          title: 'mali',
          code: '223',
          icon: 'ic_mali'
        },
        {
          title: 'senegal',
          code: '221',
          icon: 'ic_senegal'
        },
        {
          title: 'guinee',
          code: '245',
          icon: 'ic_guinee_bissau'
        }
      ]
    }
  },
  methods: {
    clickOnBackground () {
      this.$emit('closePopup', true)
    },
    emitCountry (index) {
      this.$emit('emitCountry', this.countryList[index])
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/sass/variables";

.items-block {
  background-color: white;
}
</style>
