<template>
<div class="flex h-32 p-3 pl-6">
  <div class="flex-one w-1/2" >
   <router-link to="/">
     <svg-icon name="ic_logo" class="w-32 h-16" original/>
   </router-link>
  </div>
  <div class="flex-one w-full flex justify-end">
    <div class="p-6 ">
      <h3 class="primary-text text-xl">{{ $t('titleHeader') }} <a href="https://lastack.io/" class="cursor-pointer color-for-a">{{ $t('titleHeaderTwo') }}</a></h3>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'HeaderStack'
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/sass/variables";
.primary-text {
  color: $laStackPrincipalColor;
}
.color-for-a {
  color: $laStackGreenColor;
}
</style>
