<template>
  <div class="la-stack-input w-full h-16 flex items-center p-2 border rounded cursor-pointer">
    <input type="text" class="h-full w-full font-medium text-xl"/>
  </div>
</template>

<script>
export default {
  name: 'laStackInput',
  default () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/sass/variables";
.la-stack-input {
  border: solid 1px $laStackPrincipalColor;
}
</style>
