<template>
  <div>
<div class="la-stack-country-picker w-full h-16 flex items-center p-2 border rounded cursor-pointer" @click="showCountryList = true">
  <div class="flex-one">
    <svg-icon :name="country.icon" class="w-16 h-16" original/>
  </div>
  <div class="flex-one w-full ml-4 font-bold">
    <h3 class="text-xl">{{ $t(country.title) }}</h3>
  </div>
  <div class="flex-one">
    <svg-icon name="ic_arrow_down" class="w-6 h-6" original/>
  </div>
</div>
  <country-list v-if="showCountryList" @closePopup="closePopup" @emitCountry="getCountry"></country-list>
  </div>
</template>

<script>
import CountryList from '@/components/helper/country-list'
export default {
  name: 'LaStackCountryPicker',
  components: { CountryList },
  data () {
    return {
      showCountryList: false,
      country: {
        title: 'benin',
        code: '229',
        icon: 'ic_benin'
      }
    }
  },
  methods: {
    closePopup () {
      //  alert('me')
      this.showCountryList = false
    },
    getCountry (answer) {
      this.country = answer
      this.showCountryList = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/sass/variables";
.la-stack-country-picker {
  border: solid 1px $laStackPrincipalColor;
}
</style>
