<template>
  <div class="about h-screen">
    <header-stack/>
    <div class="">
      <div class="flex items-center justify-center">
        <div class="bloc-colored w-2/3 p-6 rounded">
          <h3 class="text-xl text-center font-bold">{{ companyData.title }}</h3>
          <h3 class="text-xl text-center mt-2">{{ companyData.type }}</h3>
          <div class="bloc-detail mt-6">
            <div class="flex">
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('rcM') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.rcm }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('id') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.id  }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('capital') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.capital }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('contact') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.contact }}</h3>
              </div>
            </div>
            <div class="activity-section mt-8">
              <h3 class="title-of-bloc"> {{ $t('activity') }}</h3>
              <h3 class="subtitle-of-bloc mt-2"> {{ companyData.activity }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="flex mt-10 items-center justify-center">
        <div class="bloc-colored w-2/3 p-6 rounded">
          <div class="bloc-detail mt-6">
            <div class="flex">
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('finance') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.finance }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('capitalType') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.capitalType  }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('insign') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.insign }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('sigle') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.sigle }}</h3>
              </div>
            </div>
            <div class="flex mt-8">
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('matriculation') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.matriculation }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('validity') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.validity  }}</h3>
              </div>
              <div class="flex-one">
                <h3 class="title-of-bloc"> {{ $t('adresse') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.adresse }}</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex mt-10 items-center justify-center">
        <div class="bloc-colored w-2/3 p-6 rounded">
          <div class="bloc-detail mt-6">
            <div class="flex">
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('role') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.role }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('identity') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.identity  }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('datNass') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.datNass }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('naissCity') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.naissCity }}</h3>
              </div>
            </div>
            <div class="flex mt-8">
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('email') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.email }}</h3>
              </div>
              <div class="flex-one w-1/4">
                <h3 class="title-of-bloc"> {{ $t('phone') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.phone  }}</h3>
              </div>
              <div class="flex-one">
                <h3 class="title-of-bloc"> {{ $t('nationality') }}</h3>
                <h3 class="subtitle-of-bloc mt-2"> {{ companyData.nationality }}</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderStack from '@/components/helper/header'
export default {
  name: 'About',
  components: { HeaderStack },
  data () {
    return {
      companyData: {
        title: '41 DEVS',
        type: 'Entreprise Individuelle',
        rcm: 'Entreprise Individuelle',
        id: 'BENIN',
        capital: '5 000 000',
        contact: '67 43 43 70 / a@example.com',
        activity: 'Études, urbanisation, développement de systèmes d\'informations et plateformes digitales;\\r\\nFormation et audit;\\r\\nToutes opérations industrielles, commerciales, financières, civiles, mobilières ou immobilières pouvant se rattacher directement ou indirectement à l\'objet social ou à tout objet similaire ou connexe.',
        finance: 'Création',
        capitalType: 'Variable',
        insign: 'Non Renseigné',
        sigle: 'Non Renseigné',
        matriculation: 'Non Renseigné',
        validity: '90 ans',
        adresse: 'Ilot: 502-Maison DEDEGBE Martin Quartier Gbèdjromèdé Cotonou',
        role: 'Gérant',
        identity: 'DRAMANE MOUDILOU',
        datNass: 'Non renseigné',
        naissCity: 'Non renseigné',
        email: 'Non renseigné',
        phone: 'Non renseigné',
        nationality: 'Non renseigné'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/style/sass/variables";
.about {
  background-color:#E5E5E5;
}
.bloc-colored {
  background-color: white;
}
.title-of-bloc {
  color: #6C6C6C;
}
</style>
