<template>
  <div class="home">
    <HeaderStack/>
    <div class="form-section flex items-center w-full justify-center">
      <div class="flex-one w-1/4">
        <h3 class="text-3xl font-bold title-text text-center">{{ $t('welcome') }}</h3>
        <div class="first-form mt-8 w-full" v-if="formIndex === 0">
          <h3 class="input-title">{{ $t('country') }}</h3>
          <div class="mt-2">
            <la-stack-country-picker></la-stack-country-picker>
          </div>
          <h3 class="input-title mt-6">{{ $t('enterRCM') }}</h3>
          <div class="mt-2">
            <la-stack-input></la-stack-input>
          </div>
        </div>
        <div class="second-form mt-8 w-full" v-if="formIndex === 1">
          <div class="block-section flex w-full justify-center">
            <div class="first-bock">
             <div class="flex-one flex">
               <div class="h-6 w-6 border flex-one rounded"></div>
               <div class="h-6 w-6 border ml-2 color-border flex-one rounded"></div>
             </div>
              <div class="flex-one flex mt-2">
                <div class="h-6 w-6 border color-border flex-one rounded"></div>
                <div class="h-6 w-6 border color-border ml-2 flex-one rounded"></div>
              </div>
            </div>
            <div class=" ml-2">
              <H3>{{ companyData.title }}</H3>
              <H3>{{ companyData.rcm }}</H3>
              <H3>{{ companyData.director }}</H3>
            </div>
          </div>
          <div class="form-sub-section mt-4">
            <h3 class="input-title">{{ $t('enterPhoneEnd') }} <span class="title-numbner">......{{ companyData.subscriberNumber.substr(4, 6) }}</span></h3>
            <div class="input-res mt-2">
              <la-stack-input/>
            </div>
          </div>
        </div>

        <div class="third-form mt-8 w-full" v-if="formIndex === 2">
          <div class="block-section flex w-full justify-center">
            <div class="first-bock">
              <div class="flex-one flex">
                <div class="h-6 w-6 border flex-one rounded"></div>
                <div class="h-6 w-6 border ml-2 color-border flex-one rounded"></div>
              </div>
              <div class="flex-one flex mt-2">
                <div class="h-6 w-6 border color-border flex-one rounded"></div>
                <div class="h-6 w-6 border color-border ml-2 flex-one rounded"></div>
              </div>
            </div>
            <div class=" ml-2">
              <H3>{{ companyData.title }}</H3>
              <H3>{{ companyData.rcm }}</H3>
              <H3>{{ companyData.director }}</H3>
            </div>
          </div>
          <div class="form-sub-section mt-4">
            <h3 class="input-title">{{ $t('enterCode') }} <span class="title-numbner">{{ companyData.subscriberNumber }}</span></h3>
            <div class="input-res mt-2">
              <la-stack-input/>
            </div>
          </div>
        </div>
        <div class="flex w-full justify-end mt-8">
          <div class="h-16 flex w-1/2 justify-center text-xl cursor-pointer text-white font-bold rounded next-button items-center" @click="goNext">
            {{ $t('next') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import HeaderStack from '@/components/helper/header'
import LaStackCountryPicker from '@/components/helper/laStack-country-picker'
import LaStackInput from '@/components/helper/laStack-input'
export default {
  name: 'Home',
  components: {
    LaStackInput,
    LaStackCountryPicker,
    HeaderStack
  },
  data () {
    return {
      formIndex: 0,
      companyData: {
        title: '41DEVS',
        rcm: 'RB/COT/15 A 23013',
        director: 'DRAMANE MOUDILOU',
        subscriberNumber: '+22962922091'
      }
    }
  },
  methods: {
    goNext () {
      if (this.formIndex < 2) {
        this.formIndex++
      } else {
        this.$router.push('/about')
      }
    }
  }
}
</script>

<style lang="scss">
@import "../assets/style/sass/variables";
.form-section {
  height: 70vh;
  // background-color: #0F1535;
}
.title-text {
 // color: $laStackPrincipalColor;
}
.next-button {
  background-color: $laStackGreenColor;
}
.color-border {
  border: solid 1px $laStackPrincipalColor;
}

.title-numbner {
  color: $laStackGreenColor;
}
</style>
